@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    min-height: 100vh;
    display: flex;
}

:root {
    --primary-color-dark: #292f45;
    --secondary-color-dark: #1f2937;
    min-height: 100%;
    max-height: none;
}